
{
	"prefix": "/",
	"token": "put-your-token-here",
	"guildID": "guild-id",
	"adminRole": "admin-role-id",
	"verifiedRole": "verified-role-id",
	"welcomeChannel": "welcome-channel-id",
	"emailUsername": "email",
	"emailPassword": "password"
}
