{
	"prefix": "/",
	"token": "TOKEN",
	"mainGuild": "GUILD-ID",
	"adminRole": "ROLE-ID",
	"emailUsername": "USERNAME",
	"emailPassword": "PASSWORD",
	"theme": {
		"generalColor": "#fc54a0",
		"successColor": "#16c60c",
		"errorColor": "#f92921",
		"pendingColor": "#fcdb60"
	}
}