{
	"prefix": "/",
	"token": "TOKEN",
	"mainGuild": "GUILD-ID",
	"adminRole": "ROLE-ID",
	"emailUsername": "USERNAME",
	"emailPassword": "PASSWORD",
	"theme": {
		"generalColor": "#FF69B4",
		"successColor": "#32CD32",
		"errorColor": "#FF0000",
		"pendingColor": "#FFF04D"
	}
}